@model List<BlockChain.Models.Chains.User>?

@foreach (var user in Model)
{
    <div class="user__list__item">
        <h5>Хэш:@user.hash</h5>
        <p>Кол-во монет: @user.CoinsCollected</p>
    </div>
}