@model dynamic
<link rel="stylesheet" href="~/css/bootstrap.css"/>
<link rel="stylesheet" href="~/css/common.css"/>

<div class="alert__bg">
    <div class="alert__content"></div>
</div>
@await Html.PartialAsync("Auth/_AuthForm", new AuthData())
@await Html.PartialAsync("Auth/_RegisterForm", new AuthData())

<script src="~/js/site.js"></script>